html {
  background-color: #efefef
}
textarea {
  height: 44px;
  resize: none;
  height: 34%;
  width: 41%;
}
.submit-button-button:hover{
  color: yellow;
  transition: color 320ms cubic-bezier(.25,.75,.4,.9);
  background-color: yellow;
}
.forename, .aftername {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 0px 6px;
  background-repeat: no-repeat;
  padding: 13px 11px 12px 37px;
}

.radio-buttons {
  width: 5%;
}

.adres {
  background-size: 30px 30px;
  background-position: 0px 6px;
  background-repeat: no-repeat;
  height: 40px;
  padding: 13px 11px 12px 37px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/f3/Emblem-earth.svg);
}

.form-item {
  margin: 0 0 5px 0;
  border-radius: 20px;
}

.about textarea {
  width: 99%;
}

input, textarea {
  border: solid rgba(148, 148, 148, 0.43) 0.5px;
  font-family: sans-serif;
  color: #000;
  width: 100%;
  box-sizing: border-box;
}

.form-item {
  margin: 0px 0px 27px 0px;
  transition: ease 0.5s;
}

.form-item::before {
  margin: 0 0 0 200px;
}

.form-item::after {
  margin: 0 0 0 200px;
}

.radio_button {
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/af/Gender_symbols_side_by_side_solid.svg);*/
}

#gender-radio {
  height: 81px;
}

.address-main {}

label{
  width: 100%;
}
.radios-wrap{
  float: left;
  width: 100%;
  display: block;
  float: left;
  margin-top: 16px;
}
/*.form-item:hover{
  border: #f00 dashed 5px;
  transition: ease 5s;
  color: red;
}
.form-item input:active ,textarea:active{
  border: #00ff23 solid 2px;
  transition: ease-out 5s;
  color: #ffffff
}
.form-item input:focus ,textarea:focus{
  font-size: 20px;
  font-family: fantasy;
}
.form-item input:visited ,textarea:visited{
  visibility: hidden;
}*/

/* @media only screen and (min-width: 321px) and (max-device-width: 480px) {
  .form-item {
    width: 100%;
  }
  .about textarea {}
  .submit-button1 {}
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {}

.form-item-row {}

.form-item {}

.gender-radio {
  left: 62%;
  margin-left: 5%;
}

.address-main {
  width: 100%;
}

input:focus {
  outline-width: 0;
}

textarea:focus {
  outline-width: 0;
}

.submit-button {
  width: 50.6%;
}

button {}

.form-item {
  width: 100%;
}

.submit-button1 {
  width: 100%;
  height: 100%;
}


}
/* Styles */

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .form-item-row {}
  .form-item {
    margin: 3%;
    width: 42%;
  }
  .gender-radio {
    left: 62%;
    margin-left: 5%;
  }
  input:focus {
    outline-width: 0;
  }
  textarea:focus {
    outline-width: 0;
  }
  .submit-button {
    width: 50.6%;
  }
  button {
    margin: 0;
    transform: translate(-50%, -50%)
  }
  .form-item {
    width: 100%;
  }
  .submit-button1 {}
}
@media only screen and (min-device-width: 2560px) {
  .form-item-row {}
  .form-item {
    margin: 3%;
    width: 42%;
  }
  .gender-radio {
    left: 62%;
    margin-left: 5%;
  }
  input:focus {
    outline-width: 0;
  }
  textarea:focus {
    outline-width: 0;
  }
  .submit-button {
    width: 50.6%;
  }
  button {}
  .form-item {
    width: 100%;
  }
  .submit-button1 {}
}
@media only screen and (min-device-width: 600px) and (max-device-width: 700px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .form-item-row {}
  .form-item {
    margin: 3%;
    width: 42%;
  }
  .gender-radio {
    left: 62%;
    margin-left: 5%;
  }
  input:focus {
    outline-width: 0;
  }
  textarea:focus {
    outline-width: 0;
  }
  .submit-button {
    width: 50.6%;
  }
  button {
    margin: 0;
    transform: translate(-50%, -50%)
  }
  .form-item {
    width: 100%;
  }
  .submit-button1 {}
}
@media only screen and (min-device-width: 482px) and (max-device-width: 700px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .form-item-row {}
  .form-item {
    margin: 3%;
    width: 42%;
  }
  .gender-radio {
    left: 62%;
    margin-left: 5%;
  }
  input:focus {
    outline-width: 0;
  }
  textarea:focus {
    outline-width: 0;
  }
  .submit-button {
    width: 50.6%;
  }
  button {
    margin: 0;
    transform: translate(-50%, -50%)
  }
  .form-item {
    width: 100%;
  }
  .submit-button1 {}
}
.phone-input {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/63/Black_telephone_icon_from_DejaVu_Sans.svg);
  padding: 13px 11px 12px 37px;
  background-size: 30px 30px;
  background-position: 0px 6px;
  background-repeat: no-repeat;
}
.form-item {}
#gender-label {
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/af/Gender_symbols_side_by_side_solid.svg);*/
  padding-left: 46px;
  padding-top: 15px;
  background-size: 43px 28px;
  background-position: 0px 6px;
  background-repeat: no-repeat;
}
select {
  padding-left: 46px;
  background-size: 43px 28px;
  background-position: 0px 6px;
  background-repeat: no-repeat;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b1/Sun.svg);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  width: 230px;
  height: 40px;
  width: 100%;
  padding: 10px 11px 11px 37px;
}
.submit-button {
  width: 100%;
  height: 47px;
}
textarea {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/ef/Simpleicons_Business_pen-on-square-of-paper-interface-symbol.svg);
  background-size: 2421px 28px;
  background-position: 0px 6px;
  background-repeat: no-repeat;
}
[type="radio"]:checked, [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked+label, [type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #000;
}
[type="radio"]:checked+label:before, [type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #000;
  border-radius: 100%;
  background: #000;
}
[type="radio"]:checked+label:after, [type="radio"]:not(:checked)+label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #fff;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.form-item-row {}

/*phones */

/*
@media only screen and (min-device-width: 50px) {
  input {
    border: none;
    border-bottom: 2px #000 solid;
     width: 50px;
    height: 30px;
  }
  textarea{
    width: 100%;
  }
  .submit-button1{
    width: 100%
  }
}
@media only screen and (min-device-width: 120px) {
  input{
    border: none;
    border-bottom: 2px #000 solid;
    width: 100%;
  }
  .radio_button{
    width: 30px;
  }
}
  @media only screen and (min-device-width: 250px) {
    input {
      border: none;
      border-bottom: 2px #000 solid;
      width: 100%;
    }
}*/
@media only screen and (min-width: 320px) {
  input {
    /*    border: none;
    border-bottom: 2px #000 solid;*/
    /*    width: 100%;
    height: 30px;*/
  }
  .gender-radio {
    height: 73px;
  }
  .radio-buttons {
    height: 33px;
    width: 100%;
  }
  .radio_button_1, .radio_button_2 {
    width: 35px;
    float: left;
  }
  .form-contact {
    padding: 20px;
  }
}

/*@media only screen and (min-device-width: 375px) {
  .radio_button{
    width: 30px;}
    input {
      border: none;
      border-bottom: 2px #000 solid;
      width: 100%;
     height: 30px;
    }
    .radio_button{
      width: 30px;
  }
  .gender-radio{
        height: 73px;
  }
  .radio-buttons{
  height: 55px;
  width: 100%;
  }
  .radio_button_1 , .radio_button_2{
      width: 35px;
      float: left;}
      .submit-button1{
        position: initial;
            margin-left: 15px;
      }
      .address-main{
        width: 100%;
      }*/

/*tablet*/
@media only screen and (min-width: 320px) {
  textarea {
    background-position: -952px 6px;
  }
}
@media only screen and (min-width: 375px) {
  textarea {
    background-position: -901px 6px;
  }
}
@media only screen and (min-width: 425px) {
  textarea {
    background-position: -851px 6px;
  }
}
@media only screen and (min-width: 768px) {
  .form-item {
    margin: 0 1% 17px 0;
    width: 49%;
    float: left;
  }
  textarea .form-item {
    width: 100%
  }
  textarea {
    background-position: -512px 6px;
  }
  #gender-radio {
    margin: 0 1% 17px 0;
    width: 49%;
    float: left;
    height: 59px;
  }
  p {
    float: left;
    padding-right: 8px;
  }
  #from-item-textarea {
    width: 100%;
  }
}
/*input{
    width: 100%;
  }

  .form-item-row {
    display: flex;
    flex-wrap: nowrap;
    width: 760px;
  }
  .form-item {
    margin: 3%;
    width: 42%;
  }
  .gender-radio {
    left: 62%;
    margin-left: 5%;
  }
  .address-main {
    width: 50%;
  }
  input:focus {
    outline-width: 0;
  }
  textarea:focus {
    outline-width: 0;}



.submit-button {
  width: 50.6%;
}

button {
  margin: 0;
  transform: translate(-50%, -50%)
}

.form-item {
  width: 100%;
}
.submit-button1{
width: 96%;
position: relative;
}
button {
  margin: 0;
  transform: translate(-50%, -50%)
}

.form-item {
  width: 100%;
}
.submit-button1{
  position: absolute;
left: 50%;
}
.form-contact{
  max-width: 768px
}*/

/*.form-item-row {
  display: flex;
  flex-wrap: nowrap;*/

@media only screen and (min-width: 1024px) {
  textarea {
    background-position: -261px 6px;
  }
  .form-item {
    width: 32.33%;
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 6px;
  }
  .form-item-row{
  }
  input{
    height: 40px;
    width: 100%;
  }
  #gender-label{
    float: left;
    padding-top: 0;
    padding: 0;
    width: 0
/*background-size: 43px 28px;
background-position: 0px 6px;
background-repeat: no-repeat;*/
  }
  #gender-radio{
    width: 32.33%;
    margin: 0px;
  }
#textarea{
    width: 100%;
  }
  /*
  .form-item {
    width: 32.33%;
    float: left;
    margin: 0px;
    height: 20%;
  }*/
}
@media only screen and (min-width: 1440px) {
  input {
    width: 100%;
  }
  .form-item {
    width: 100%;
  }
  textarea {
    background-position: 148px 6px;
  }
}

#from-item-textarea{
  height: 90px
}
.checkboxes{

    height: 0px;
    height: 71px;
    width: 100%;
    float: left;

}
#textarea{
      height: 150px;
}
